* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #1f1f1f;
  color: whitesmoke;
}

body {
  margin: 0;
}

#root {
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-auto-rows:auto;
}

header {
  grid-column:1/3;
  height: 10em;
}

header h1 {
  text-align: center;
  height: 100%;
  margin: 0;
}

#pageChangerWindow > section{
  display: absolute;
  position: fixed;
  width:40%;
  height:40%;
  top:10%;
  left:30%;
  background-color: pink;
}
#pageChangerWindow > section form {
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-auto-rows:auto;
}
#pageChangerWindow > section section label {
  grid-column: 1;
}
#pageChangerWindow > section section input {
  grid-column: 2;
  margin: 0 2em;
}

#windowBlackout{
  display: absolute;
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, .8);
}

#pageChangerWindow ul {
  padding:0;
}
#pageChangerWindow li {
  list-style: none;
  display: inline-block;
  padding: .5em 2.72em;
  transition: .5s;
}

#pageChangerWindow li:hover{
  background-color: antiquewhite;
  transition: .5s;
}

.mainElement {
  transition: .5s;
}
.mainElement:hover {
  transition: .5s;
  width: 50%;
}